.hero {
  width: 100%;
  max-width: 856px;
  margin: auto;
  display: flex;
  align-items: center;

  .hero__title {
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
  }
  .hero__description {
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
  .hero__button {
    cursor: pointer;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: #fff;
    background-color: #ff6464;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
  }
}
