.projects {
  .projects__content {
    max-width: 1120px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .projects__title {
    font-size: 36pt;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }

  .projects__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .project {
    display: flex;
    justify-content: space-between;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    .project__title {
      font-family: "Rubik";
      font-size: 24pt;
      font-weight: 400;
    }
    .project__box {
      padding: 15px;
      background: #f2ea77;
      color: #262626;
    }

    .project__button {
      margin-top: 20px;
    }

    .project__description {
      margin: 0;
    }
    .project__tags {
      margin: 20px 0 0;
    }

    .project__content {
      max-width: 40%;
    }

    .project__img {
      width: 300px;
    }
  }
}
