.projects {
  .projects__content {
    max-width: 856px;
    margin: 30px auto 0;
  }
  .projects__title {
    font-size: 22px;
    font-family: "Heebo", sans-serif;
    font-weight: 300;
  }

  .projects__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .project {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;

    .project__title {
      font-family: "Heebo", sans-serif;
      font-size: 30px;
      font-weight: 600;
      margin: 0 0 10px 0;
    }

    .project__tags-container {
      display: flex;
      align-items: center;
    }

    .project__year {
      font-family: "Heebo", sans-serif;
      font-weight: 600;
      color: #fff;
      border-radius: 120px;
      background-color: #142850;
      padding: 2px 8px;
      margin: 0;
    }

    .project__tags {
      font-family: "Heebo", sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: #8695a4;
      margin: 0 0 0 20px;
    }
    .project__description {
      font-family: "Heebo", sans-serif;
      font-weight: 300;
      font-size: 16px;
    }

    .project__img {
      width: 246px;
      height: 180px;
    }
  }
}
